@{
    #### SECRETS ####
    CLIENT_ID                   = "your_client_id"
    CLIENT_SECRET               = "your_client_secret"
    SITE_URL                    = "your_site_url"

    #### EXPORTED FILES ####
    LOG_ERRORS                  = "errors.log"
    LOG_LIQUIDACIONES           = "liquidaciones.csv"
    LOG_LIQUIDACION_DETALLE     = "liquidacionDetalle.csv"
    LOG_LIQUIDACION_CABECERA    = "liquidacionCabecera.csv"
    LOG_RESULTADOS              = "resultados.csv"
    LOG_EXPORTADOS              = "exportados.csv"

    #### LIST NAMES TO EXPORT ####
    LISTA_LIQUIDACIONES         = "Liquidaciones"     
    LISTA_LIQUIDACION_DETALLE   = "Lista: Liquidacion Detalle"
    LISTA_LIQUIDACION_CABECERA  = "Lista: Liquidacion Cabecera"

    #### FIELDS TO EXPORT ####
    FIELDS_LIQUIDACIONES        = "ID", "FileRef", "Created_x0020_Date", "File_x0020_Size", "Detalle"
    FIELDS_LIQUIDACION_DETALLE  = "ID", "Solicitud", "Liquidacion", "Title"
    FIELDS_LIQUIDACION_CABECERA = "ID", "Solicitud", "AnioSAP", "Sociedad", "Title"

    BACKUP_PATH = path_to_backup_onedrive_files
}
